
.first{
    display: flex;
}


.header1
{
   
    width: 50%;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 20px;
   
}
.h3{
   
    border-left: solid red 5px;
    height: 130px;
    margin-left: 4px;
    margin-top: 50px;

}

.h10 {
    color: brown;
    font-size: 50px;
    font-weight: 700px;
}
.h11{
    color: green;
    font-size: 50px;
    font-weight: 700px;
}
.h14{
    font-size: 22px;
    margin-right: 140px;
}
.h19{
    height: 100px;
    weight:10px;
}
.linkb{
    text-decoration: none;
    background-color: lightgreen;
    color: green;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 5px;
    

}

.header2{
    width: 50%;
}
.header2 img{
    width: 50%;
}






.miss{
    margin-left: 100px;
  padding-top: 100px;
  font-size: 50px;
  font-weight: 700;

}



.s22{
    color:red;
}

.container{

    position: absulate;
    width: 1550px;
    height: 350px;
    margin: 100px auto;

   
    display:flex;
}
.box1{
    position: relative;
    width: 400px;
    height: 350px;
    background-color: rgb(151, 118, 46);
    margin-left: 100px;
    margin-top: 20px;
}
.box1 img{
    width: 40%;
    margin-left: 20px;
}
.box1 h3{
    margin: 20px;
}
.box1 p{
    margin-left: 20px;
}
.box2{
    position: relative;
    width: 400px;
    height: 350px;
    background-color: rgb(63, 145, 160);
    margin-left: 50px;
    margin-top: 20px;
}
.box2 img{
    width: 40%;
    margin-left: 20px;
}
.box2 h3{
    margin: 20px;
}
.box2 p{
    margin-left: 20px;
}

.box3{
    position: relative;
    width: 400px;
    height: 350px;
    background-color:rgb(185, 185, 87);
    margin-left: 50px;
    margin-top: 20px;
}

.box3 img{
    width: 40%;
    margin-left: 20px;
}
.box3 h3{
    margin: 20px;
}
.box3 p{
    margin-left: 20px;
}
   


.third1{
    display: flex;
}


.upp1
{
    width: 50%;

}
.upp1 img{
    width: 70%;
    height: 400px;
    margin-left: 100px;
}
.upp2{
    width: 50%;
}
.on11{
    margin-top: 50px;
    color: brown;
    font-size: 60px;
    font-weight: 700;
}
.on12{
    font-size: 22px;
  
    margin-right: 350px;
}




.fourth{
    display: flex;
}
.upp22{
    width: 50%;
    margin-left: 100px;
    margin-right: 150px;
}
.upp23{
    font-size: 60px;
    font-weight: 700;
    color: darkgoldenrod;
    margin-top: 150px;
}
.upp24{
    font-size: 22px;
    margin-right: 50px;
}


.upp26 {
    width: 50%;

}
.upp26 img{
    width: 80%;
    margin-top: 100px;
    margin-right: 150px;
    height: 400px;

}




.fifth{
    display: flex;
    margin-top: 100px;
}
.covid img{
width: 70%;
margin-left: 100px;
}
.up66{
    font-size: 60px;
    font-weight: 700;
    margin-top: 50px;
    color: indigo;
}
.up77{
font-size: 22px;
margin-right: 50px;
}
.covidp {
    width: 50%;
}



footer{
    background-color: black;
    height: 150px;
    color: ivory;
 
    margin-top: 30px;
  
}
.div6{
   
    padding-top: 20px;
    margin-left: 600px;
}

.upp00{
    color: maroon;
}